.profile-avatar-menu .container::-webkit-scrollbar {
  width: 8px;
}

.profile-avatar-menu .container::-webkit-scrollbar-track {
}

.profile-avatar-menu .container::-webkit-scrollbar-thumb {
  background: #474747;
}

.profile-avatar-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--yt-dialog-background);
  width: 300px;
  max-height: calc(100vh - 64px);
  overflow: auto;

  .container {
    overflow: auto;
  }

  mat-nav-list {
    padding-bottom: 8px;

    a[mat-list-item] {
      height: 40px;
    }

    mat-icon {
      color: hsl(0, 0%, 24%);
      margin-right: 30px;
    }

    span {
      font-size: 14px;
    }
  }
}

.profile-menu-header {
  min-height: 72px;
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: var(--yt-simple-menu-header-background);
  flex: none;
}

.display-name {
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: var(--primary-text-color);
}

.email {
  // font-family: "Libre Franklin", sans-serif;
  font-size: 14px;
  line-height: 20px;
  // color: var(--primary-text-color);
}

.profile-menu-header-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  object-fit: cover;
  margin-right: 16px;
}
