.films-wrapper {
  max-width: 100rem;
  margin: 0 auto;
  padding: 128px 16px;
}

.select-search {
  height: 48px;
  font-size: 14px;
  padding-left: 16px !important;
  border-bottom: 1px solid rgba(0,0,0,.12) !important;
}

.section-header {
  font-size: 48px;
  line-height: 48px;
  margin: 0 0 2px 0;
}

.items {
  display: grid;
  // grid-template-columns: repeat(8, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-gap: 88px 4px;
}

.filter-button {
  display: none;
}

@media (max-width: 360px) {
  .films-wrapper {
    padding-top: 104px;
  }

  .items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48px 8px;
  }

  .select-form {
    display: none;
  }

  .filter-button {
    display: block;
  }
/*  .items {
    padding: 16px;
    grid-template-columns: repeat(8, minmax(140px, 1fr));
  }*/
}

.item {
  display: block;
  cursor: pointer;
}

.aspect-ratio {
  position: relative;
  padding-top: 150%;
  overflow: hidden;
}

.img-placeholder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eee;
}

img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 200ms cubic-bezier(.4,.0,.2,1);
}

.lazy {
  opacity: 0;
}

.background-overlay-renderer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0,0,0,0.502),rgba(0,0,0,0),rgba(0,0,0,0));
  opacity: 0;
  transition: opacity 200ms;
}

.img-overlay-renderer:hover .background-overlay-renderer {
  opacity: 1;
}

.img-overlay-renderer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content:hover .menu-button {
  opacity: 1;
}

.menu-button {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #fff;
  opacity: 0;
}

.details {
  margin-top: 12px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -.5px;
}

.subtitle {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--metadata-color);
  margin-top: 4px;
}
