<div class="films-wrapper">

  <div id="header">
    <h2 class="section-title">Tv şovları</h2>
    <span class="flex-spacer"></span>
    <div class="header-right">
      <mat-form-field appearance="outline" class="select-form">
        <mat-label>Kategori</mat-label>
        <mat-select value="option1" disableOptionCentering>
          <input class="select-search" matNativeControl placeholder="Ara" autocomplete="off" spellcheck="false">
          <mat-option value="option1">Tüm diziler</mat-option>
          <mat-option value="option1">Aksiyon ve Macera</mat-option>
          <mat-option value="option2">Anime</mat-option>
          <mat-option value="option3">Belgeseller</mat-option>
          <mat-option value="option12">Bilim Kurgu & Fantazi</mat-option>
          <mat-option value="option4">Çocuk & Aile</mat-option>
          <mat-option value="option5">Dramalar</mat-option>
          <mat-option value="option6">Klasik</mat-option>
          <mat-option value="option7">Komediler</mat-option>
          <mat-option value="option8">Kült</mat-option>
          <mat-option value="option9">Korku</mat-option>
          <mat-option value="option10">Müzikal</mat-option>
          <mat-option value="option11">Romantik</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button class="filter-button">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
  </div>

  <div class="items" *ngIf="items">
    <div class="item" *ngFor="let item of items">
      <div class="aspect-ratio">
        <div class="img-placeholder">
          <img [src]="item.poster" class="lazy" [alt]="item.title" appLazyLoad>
        </div>
      </div>
      <div class="details">
        <div class="title">{{item.title}}</div>
        <div class="subtitle">TV-14 • {{item.subtitle}}</div>
      </div>
     <!-- <div class="img-overlay-renderer">
        <div class="background-overlay-renderer"></div>
        <div class="content">
          <button mat-icon-button class="menu-button" [matMenuTriggerFor]="moreMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>-->

    </div>
  </div>

  <mat-menu #moreMenu="matMenu">
    <button mat-menu-item (click)="addToLibrary()">
      <mat-icon>playlist_add</mat-icon>
      <span>Filmi kıtaplığa ekle</span>
    </button>
    <!--    <button mat-menu-item>
          <mat-icon>remove_circle_outline</mat-icon>
          <span>Listemden kaldır</span>
        </button>-->
  </mat-menu>

</div>

