:host {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  padding-top: 64px;
}

.video-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 24px 0;
}

video {
  display: block;
  min-height: 360px;
}
