<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title">app</span>
  <span class="flex-spacer"></span>
  <button mat-button color="warn">OTURUM AÇ</button>
</mat-toolbar>

<!--
<video autoplay muted loop id="myVideo">
  <source src="http://localhost:4000/static/trailer3.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
-->

<div class="header mat-typography">
  <div class="header-section">
    <div>
      <h1>Angular Watch</h1>
      <h2>Live TV from 60+ networks. Local sports and news. No cable box required.</h2>
    </div>
    <div class="header-start">
      <button mat-raised-button>BAŞLAYIN</button>
    </div>
  </div>
</div>
