<div class="casts-content mat-typography">

  <h2>Yaratıcı</h2>

  <div class="cast-list">
    <div class="cast-item">
      <div class="cast-img" [style.backgroundImage]="'url(https://m.media-amazon.com/images/M/MV5BMTA5MTU2Mzk5MjleQTJeQWpwZ15BbWU4MDM1MjExOTQx._V1_UX214_CR0,0,214,317_AL_.jpg)'"></div>
      <div class="cast-item-text">
        <span class="cast-name">Sam Esmail</span>
      </div>
    </div>
  </div>

  <h2>Oyuncular</h2>
  <div class="cast-list">

    <div class="cast-item">
      <div class="cast-img" [style.backgroundImage]="'url(https://m.media-amazon.com/images/M/MV5BODEwMjkzNDIzOV5BMl5BanBnXkFtZTgwOTQ4NTU0NzE@._V1_UX214_CR0,0,214,317_AL_.jpg)'"></div>
      <div class="cast-item-text">
        <a routerLink="/people">
          <span class="cast-name">Rami Malek</span>
        </a>
        <span class="role-name">Elliot Alderson</span>
      </div>
    </div>

    <div class="cast-item">
      <div class="cast-img" [style.backgroundImage]="'url(https://m.media-amazon.com/images/M/MV5BMTY5ODA1ODY2Nl5BMl5BanBnXkFtZTgwNjcwNDczNzE@._V1_UX214_CR0,0,214,317_AL_.jpg)'"></div>
      <div class="cast-item-text">
        <span class="cast-name">Christian Slater</span>
        <span class="role-name">Mr. Robot</span>
      </div>
    </div>

    <div class="cast-item">
      <div class="cast-img" [style.backgroundImage]="'url(https://m.media-amazon.com/images/M/MV5BMTM4OTI2MTEwOV5BMl5BanBnXkFtZTcwMDc1MDc0Mw@@._V1_UX214_CR0,0,214,317_AL_.jpg)'"></div>
      <div class="cast-item-text">
        <span class="cast-name">Portia Doubleday</span>
        <span class="role-name">Angela Moss</span>
      </div>
    </div>

    <div class="cast-item">
      <div class="cast-img" [style.backgroundImage]="'url(https://m.media-amazon.com/images/M/MV5BMjM5MzIyNTc2OV5BMl5BanBnXkFtZTcwNzI4MzQ5OQ@@._V1_SY1000_CR0,0,664,1000_AL_.jpg)'"></div>
      <div class="cast-item-text">
        <span class="cast-name">Carly Chaikin</span>
        <span class="role-name">Darlene Alderson</span>
      </div>
    </div>
  </div>

</div>

