<mat-nav-list>
  <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
    <mat-icon mat-list-icon>flag</mat-icon>
    <span mat-line>Bildir</span>
  </a>

  <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
    <mat-icon mat-list-icon>settings</mat-icon>
    <span mat-line>Kalite</span>
  </a>

  <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
    <mat-icon mat-list-icon>slow_motion_video</mat-icon>
    <span mat-line>Oyatma hızı</span>
  </a>
</mat-nav-list>
