<div class="room-wrapper">

  <div id="header">
    <h2 class="section-title">Parti odaları</h2>
  </div>

  <div id="items">
    <div class="full-bleed-item">
      <a class="simple-endpoint" matRipple>
        <div class="thumbnail-renderer">
          <div class="img-shadow">
            <img src="https://image.tmdb.org/t/p/original/pL2VkIcoHnyX5oLd3IIaANkzB01.jpg" alt="">
          </div>
        </div>
        <div class="gradient"></div>
        <div class="text-wrapper">
          <div class="title ellipsis-truncate">Cowboy Bebop</div>
          <div class="subtitle">S1 B26 • 150 kişi izliyor</div>
        </div>
        <div class="author">
<!--          <div class="img">
            <img src="http://localhost:4000/static/girl.png">
          </div>
          <div class="img">
            <img src="http://localhost:4000/static/mickey.png">
          </div>
          <div class="img">
            <img src="http://localhost:4000/static/wonder-woman.png">
          </div>-->
          <div class="img" matTooltip="Kardan adam">
            <img src="http://localhost:4000/static/cigarette.jpg">
          </div>
        </div>
      </a>
    </div>
    <div class="full-bleed-item">
      <a class="simple-endpoint" matRipple>
        <div class="thumbnail-renderer">
          <div class="img-shadow">
            <img src="https://image.tmdb.org/t/p/original/60Oo5P1nI21vi9nMltaocEYM9V1.jpg" alt="">
          </div>
        </div>
        <div class="gradient"></div>
        <div class="text-wrapper">
          <div class="title ellipsis-truncate">The Big Bang Theory</div>
          <div class="subtitle">S1 B12 • 47 kişi izliyor</div>
        </div>
      </a>
    </div>
    <div class="full-bleed-item">
      <a class="simple-endpoint" matRipple>
        <div class="thumbnail-renderer">
          <div class="img-shadow">
            <img src="https://image.tmdb.org/t/p/original/x4cycTgAtBIy4TP0DBD2RhtKpol.jpg" alt="">
          </div>
        </div>
        <div class="gradient"></div>
        <div class="text-wrapper">
          <div class="title ellipsis-truncate">Band of Brothers</div>
          <div class="subtitle">S1 B4 • 35 kişi izliyor</div>
        </div>
      </a>
    </div>
    <div class="full-bleed-item">
      <a class="simple-endpoint" matRipple>
        <div class="thumbnail-renderer">
          <div class="img-shadow">
            <img src="https://image.tmdb.org/t/p/original/xzfQAli4rnWezjE1nQ8GS1E8F3p.jpg" alt="">
          </div>
        </div>
        <div class="gradient"></div>
        <div class="text-wrapper">
          <div class="title ellipsis-truncate">House</div>
          <div class="subtitle">S2 B4 • 22 kişi izliyor</div>
        </div>
      </a>
    </div>
    <div class="full-bleed-item">
      <a class="simple-endpoint">
        <div class="thumbnail-renderer">
          <div class="img-shadow">
            <img src="https://image.tmdb.org/t/p/original/6xKCYgH16UuwEGAyroLU6p8HLIn.jpg" alt="">
          </div>
        </div>
        <div class="gradient"></div>
        <div class="text-wrapper">
          <div class="title ellipsis-truncate">Baba</div>
          <div class="subtitle">150 kişi izliyor</div>
        </div>
      </a>
    </div>
    <div class="full-bleed-item">
      <a class="simple-endpoint">
        <div class="thumbnail-renderer">
          <div class="img-shadow">
            <img src="https://image.tmdb.org/t/p/original/hqkIcbrOHL86UncnHIsHVcVmzue.jpg" alt="">
          </div>
        </div>
        <div class="gradient"></div>
        <div class="text-wrapper">
          <div class="title ellipsis-truncate">Kara Şövalye</div>
          <div class="subtitle">230 kişi izliyor</div>
        </div>
      </a>
    </div>
    <div class="full-bleed-item">
      <a class="simple-endpoint">
        <div class="thumbnail-renderer">
          <div class="img-shadow">
            <img src="https://image.tmdb.org/t/p/original/dji4Fm0gCDVb9DQQMRvAI8YNnTz.jpg" alt="">
          </div>
        </div>
        <div class="gradient"></div>
        <div class="text-wrapper">
          <div class="title ellipsis-truncate">Toy Story</div>
          <div class="subtitle">552 kişi izliyor</div>
        </div>
      </a>
    </div>
    <div class="full-bleed-item">
      <a class="simple-endpoint">
        <div class="thumbnail-renderer">
          <div class="img-shadow">
            <img src="https://image.tmdb.org/t/p/original/7t88SoT3Dd8DhGnQuVoSbMNUl3W.jpg" alt="">
          </div>
        </div>
        <div class="gradient"></div>
        <div class="text-wrapper">
          <div class="title ellipsis-truncate">Smallfoot</div>
          <div class="subtitle">450 kişi izliyor</div>
        </div>
      </a>
    </div>
  </div>

</div>
